<!DOCTYPE html>
<html lang = 'ko'>


<head>
  <meta charset="utf-8">
  <title>main page</title>
  <!-- <title>ANMU PRACTICE</title> -->
</head>



<script>
 
</script>


<body>

  <div id="main" style="position:absolute; left: 26%; top: 20%; text-align: center;">
    <p style="font-size: 70px;"><strong>중</strong>앙대 <strong>안</strong>무 <strong>연</strong>습 <strong>가</strong>이드</p>
  </div>


  <div id="container">
    <input type="button" value="로그인" style="position:absolute; top : 60%; left: 35%;font-size: 30px; padding-left: 40px; padding-right: 40px;"
    onclick="location.href= 'login' ">
    <br>
    <input type="button" value="회원가입" style="position:absolute; top : 60%; right: 35%;font-size: 30px; padding-left: 30px; padding-right: 30px;"
    onclick="location.href = 'firstpage'"> <!---->
  </div>
  

  
  

</html>