<!DOCTYPE html>
<html lang = 'ko'>


<head>
  <meta charset="utf-8">
  <title>mypage</title>

  <style>

  #box ul li {list-style-type: none;  outline: 1px green solid;
         font-size: 25px; text-align: center; padding: 60px;}
  a:link {
  color : black;
  text-decoration: none;
  } 
  a:visited {
    color : black;
    text-decoration: none;
  }
  a:hover {
    color : blue;
    text-decoration: underline;
  }
  a:active {
    color : black;
    text-decoration: none;
  }
  </style>
</head>



<script>
 
</script>


<body>
  <div id = "box" style=" position: absolute; border: 1px blue solid; width: 400px;  margin: 20px;">
    <ul>
      <li ><a href = "{% url 'capstone:main' %}team/">팀</a></li>
      <li><a href = "{% url 'capstone:main' %}songlist/">곡 리스트</a></li>
      <li><a href = "{% url 'capstone:main' %}practice/">연습</a></li>
      <li><a href = "{% url 'capstone:main' %}record/">기록</a></li>
    </ul>
    <!-- <p>팀 & 연습</p>
    <p>팀 & 연습</p>
    <p>팀 & 연습</p>
    <p>팀 & 연습</p> -->

  </div>
  

  <div id="mypage" style="border: 1px white solid; position: absolute; margin-left: 1350px; margin-top: -30px;">
    <p style="font-size : 30px"><a href = "{% url 'capstone:main' %}mypage/">MYPAGE</a>
  </div>

  <div id = "menutitle" style="border: 1px red solid; position: absolute; margin-left: 500px;" >
    <h1>MYPAGE</h1>
  </div>
  
  <div id = "content" style="border: 1px olive solid; position: absolute; margin-left: 500px; margin-top : 100px; width: 980px; height: 550px;" >
    <h1>content</h1>
    <p>속해있는 팀</p>
    <table border="1">
      <th>테이블</th>
      <th>만들기</th>
      <tr><!-- 첫번째 줄 시작 -->
          <td>첫번째 칸</td>
          <td>두번째 칸</td>
      </tr><!-- 첫번째 줄 끝 -->
      <tr><!-- 두번째 줄 시작 -->
          <td>첫번째 칸</td>
          <td>두번째 칸</td>
      </tr><!-- 두번째 줄 끝 -->
        </table>
  </div>
  

</html>