<!DOCTYPE html>
<html lang = 'ko'>


<head>
  <meta charset="utf-8">
  <title>{{song}} practice</title>

  <style>


  </style>
</head>
<body>
  <div id = "box" style=" position: absolute; border: 1px blue solid; width: 400px;  margin: 20px;">
    <!-- <h1 style = "position : absolute; fontsize : 30px" >잠시만<br>기다려주세요</h1> -->

    <p>{{song}}</p>


    <p><a href="{% url 'capstone:practice' %}{{ song }}/step1/">let's start!</a></p>
    <input type="button" value="step1" style="position:absolute; top : 60%; right: 35%;font-size: 30px; padding-left: 30px; padding-right: 30px;"
    onclick="location.href = '{% url 'capstone:practice' %}{{ song }}/step1/'">
    <!-- http://localhost:8000/anmu/practice/person_back/step2/ -->
    <!-- '{% url 'capstone:practice' %}}{{ song }}/step2/' -->
    <!-- 'http://localhost:8000/anmu/practice/person_back/step2/' -->

</div>



</body>